@font-face
{
	font-family: 'Helvetica Neue Cyr Bold';
	src: url('HelveticaNeueCyr-Bold.eot');
	src: local('☺'),
	url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Bold.woff2') format('woff2'),
	url('HelveticaNeueCyr-Bold.woff') format('woff'),
	url('HelveticaNeueCyr-Bold.ttf') format('truetype'),
	url('HelveticaNeueCyr-Bold.svg#helveticaneuecyrbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face
{
	font-family: 'Helvetica Neue Cyr Light';
	src: url('HelveticaNeueCyr-Light.eot');
	src: local('☺'),
	url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Light.woff2') format('woff2'),
	url('HelveticaNeueCyr-Light.woff') format('woff'),
	url('HelveticaNeueCyr-Light.ttf') format('truetype'),
	url('HelveticaNeueCyr-Light.svg#helveticaneuecyrlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Helvetica Neue Cyr Thin';
	src: url('HelveticaNeueCyr-Thin.eot');
	src: local('☺'),
	url('HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Thin.woff2') format('woff2'),
	url('HelveticaNeueCyr-Thin.woff') format('woff'),
	url('HelveticaNeueCyr-Thin.ttf') format('truetype'),
	url('HelveticaNeueCyr-Thin.svg#helveticaneuecyrthin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Helvetica Neue Cyr Medium';
	src: url('HelveticaNeueCyr-Medium.eot');
	src: local('☺'),
	url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Medium.woff2') format('woff2'),
	url('HelveticaNeueCyr-Medium.woff') format('woff'),
	url('HelveticaNeueCyr-Medium.ttf') format('truetype'),
	url('HelveticaNeueCyr-Medium.svg#helveticaneuecyrmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Helvetica Neue Cyr Roman';
	src: url('HelveticaNeueCyr-Roman.eot');
	src: local('☺'),
	url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
	url('HelveticaNeueCyr-Roman.woff2') format('woff2'),
	url('HelveticaNeueCyr-Roman.woff') format('woff'),
	url('HelveticaNeueCyr-Roman.ttf') format('truetype'),
	url('HelveticaNeueCyr-Roman.svg#helveticaneuecyrroman') format('svg');
	font-weight: normal;
	font-style: normal;
}
